/** product items */

.prod_card_frame {
    /** frame of product card (cover container) */
    width: 100%;
    height: auto;
    background: #fce4ee;
    background-image: url("/api/theme/images/pdgb2.png");
    background-repeat: repeat-x;
    background-size: 100%;
    max-width: 250px;
}

.prod_card_frame:hover {
    background: #f9cbdf;
    background-image: url("/api/theme/images/pdbg3.png");
    background-repeat: repeat-x;
    background-size: 100%;
}

.prod_card_container {
    /** container */
    line-height: 1.1;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    margin: px;
}

.prod_card_title {
    overflow: hidden;
    margin: auto;
    text-align: center;
    height: 70px;
}

.prod_card_desc {
    color: #A7A5A1;
    overflow-wrap: break-word;
}

.prod_card_showprice {
    color: black;
}

.prod_card_price {
    color: red;
}

.prod_card_btn_buy {
    color:#f399c1;
    height: 35px;
    width: 100%;
    background: #f6b2cf;
    padding: 5px;
    /* -webkit-transition: width 0.5s;
    transition: width 0.5s; */
    border: 1px solid #f9cbdf;
    border-radius: 0px;
    height: 35px;
    display: block;
  
    background: linear-gradient(to right, #f399c1 50%, #f9cbdf 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out
}
.prod_card_btn_buy_frame{
    text-align: center;
    
}

.prod_card_btn_buy:hover {
    /* background: linear-gradient(90deg, rgba(214,109,117,1) 0%, rgba(226,149,135,1) 100%); */
    color: #fce4ee;
    background-position: left bottom;
    
    

}

@media screen and (min-width:0px) {
    .prod_card_title {
        font-size: 11px;
    }
    .prod_card_desc {
        font-size: 11px;
        height: 90px;
    }
    .prod_card_showprice {
        font-size: 8px;
    }
    .prod_card_price {
        font-size: 17px;
    }
}

@media screen and (min-width:600px) {
    .prod_card_title {
        font-size: 13px;
    }
    .prod_card_desc {
        font-size: 13px;
        height: 70px;
    }
    .prod_card_showprice {
        font-size: 15px;
    }
    .prod_card_price {
        font-size: 30px;
    }
}