/** side menu */
#side_menu_header {
    color: #744c28;
    background-color: #f9cbdf;
    padding: 15px;
    text-align: center;
    font-size: 24pt;
   
}

#side_menu_group {
    color:white;
    background-color: #f399c1;
    background-image: url("/api/theme/images/pink.png");
    background-size: 224.5px 40px;
    background-repeat: repeat-x;
    padding:12px;
    
}
#side_menu_group:hover {
    background-color: #f399c1 ;
    
}
#side_menu_group_active {
    color:#f399c1;
    background-color: #fce4ee;
}
#side_menu_group_active:hover {
    background-color: #f9cbdf;
}


#side_menu_cate {
    background-color: #fce4ee;
    padding: 10px;
}
#side_menu_cate:hover {
    background-color: #f9cbdf;
}
#side_menu_cate_active {
    background-color: red;
}
#side_menu_cate_active:hover {
    background-color: red;
}